<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.audio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <service
            android:name=".notice.AudioService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
